<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">
<meta charset="UTF-8">
<title>Conscientize-se</title>
</head>

<body>
	<div th:replace="~{menu :: menu}"></div>

	<div class="container-fluid text-light p-4"
		style="background-image: url('/imagens/text.png'); height: 340px; background-size: 100% 100%;">
	</div>


	<div class="p-5 text-white"
		style="background-image: url('/imagens/fundo1.png'); background-size: 100% 100%; background-color: #242424;">
		<div class="container">
			<div class="row">
				<div class="container">
					<div class="col-7 text-center my-5 p-5">
						<h2>
							<em>Separe resíduos por categorias</em>
						</h2>
						<p>
							<em><h5>A maneira mais recomendada para descartar
									corretamente o lixo doméstico é separá-los por materiais
									recicláveis (garrafas de vidro, garrafas plásticas, latas, etc)
									e materiais não recicláveis (espelhos, adesivos, fotografias,
									etc), assim facilitará a separação dos resíduos pelos lixeiros
									e centros de reciclagem.</h5> </em>
						</p>
						<p>
							<em>
								<h5>Além disso você pode também, separar lixos orgânicos
									dos lixos secos, de modo que os secos poderão ser encaminhados
									à centros de reciclagem, e os orgânicos usados para
									compostagem, ou seja, serão transformados em adubo.</h5>
							</em>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="p-3 bg-success text-white">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<p>
						<em>"1 litro de óleo pode contaminar até 25 mil litros de
							água. Isso acontece porque suas substâncias não se dissolvem em
							água e, quando despejadas nos cursos d’ água, causam descontrole
							do oxigênio e a morte de peixes e outras espécies."</em>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="p-5 text-white"
		style="background-image: url('/imagens/fundo2.png'); background-size: 100% 100%; background-color: #242424;">
		<div class="container">
			<div class="row ">
				<div class="container">
					<div class="col-7 offset-sm-5 text-center my-5 p-5">

						<h1>
							<em>Recicle materiais em geral </em>
						</h1>
						<p>
							<em><h5>Principalmente na cozinha, utiliza-se muitos
									materiais e a maioria deles pode ser reciclado, como potes de
									manteiga, garrafas de leite, latas de leite condensado e caixas
									de creme de leite. Todos devem ser separados de acordo com a
									coleta seletiva.</h5></em>
						</p>
						<p>
							<em><h5>Outros materiais podem ser usados em
									compostagens, como fósforos, saquinhos de chá e guardanapos.
									Por fim, o ideal é buscar sempre por produtos que tenham menos
									embalagem e, consequentemente, gerem menos lixo.</h5></em>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="p-3 bg-success text-white">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">

					<p>
						<em>"Todos os anos no Brasil são geradas mais de 79 milhões
							de toneladas de lixo. Desse total, acredita-se que 30% poderia
							ser reciclado, mas apenas 3% de fato passa pelo processo."</em>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="p-5 text-white"
		style="background-image: url('/imagens/fundo3.png'); background-size: 100% 100%; background-color: #242424;">
		<div class="container">
			<div class="row">
				<div class="container">
					<div class="col-7 text-center my-5 p-5">
						<h1>
							<em>Atente-se ao lixo eletrônico </em>
						</h1>
						<p>
							<em><h5>Todos os anos a população brasileira gera 1,5
									milhão de toneladas de lixo eletrônico e esse número tende a
									aumentar. Substâncias tóxicas como mercúrio, chumbo e berílio
									estão presentes nos materiais eletrônicos e, se estes não forem
									descartados corretamente podem contaminar o ambiente, causando
									problemas graves de saúde pública.</h5></em>
						</p>

						<h3>
							<em>E como descartar corretamente? </em>
						</h3>

						<p>
							<em><h5>Para descartar o celular antigo que você não
									usa mais, por exemplo, procure no manual do produto ou na
									internet empresas que aceitam esse tipo de material. Assim, ele
									vai ser desmontado e as diferentes peças podem ser reutilizadas
									ou recicladas. Estima-se que 90% do lixo eletrônico comum possa
									ser reaproveitado de alguma forma.</h5></em>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="p-3 bg-success text-white">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<p>
						<em>"O descarte incorreto de entulho pode causar enchentes e
							criar vetor de doenças, além de contribuir para a lotação de
							aterros. Mesmo com todos esses problemas, mais de 80% dos
							municípios brasileiros não tratam de forma adequada o entulho
							gerado pela construção civil."</em>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="p-5 text-white"
		style="background-image: url('/imagens/fundo4.png'); background-size: 100% 100%; background-color: #242424;">
		<div class="container">
			<div class="row ">
				<div class="container">
					<div class="col-7 offset-sm-5 text-center my-5 p-5">

						<h1>
							<em>Reutilize vidros</em>
						</h1>
						<p>
							<em><h5>Mais de 95% dos vidros podem ser reciclados ou
									reaproveitados depois de limpos e secos, como garrafas de
									bebidas e potes de alimentos. Uma garrafa maior, por exemplo,
									pode se transformar em uma luminária com a ajuda de algumas
									luzes, enquanto os potes podem ser reutilizados para guardar
									novos insumos.</h5></em>
						</p>
						<p>
							<em><h3>Cuidaco com:</h3></em>
						</p>

						<p>
							<em><h5>Lâmpadas, porcelanas, cerâmica, cristais,
									vidros de automóveis e espelhos são exceções e não devem ser
									misturados aos demais. Em casos de peças quebradas, é
									aconselhado que embrulhe bem, coloque em uma caixa e avise ao
									lixeiro do que se trata.</h5></em>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="p-3 bg-success text-white">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<p>
						<em>"Cada quilograma de medicamento descartado incorretamente
							pode acabar contaminando até 450 mil litros de água, causando um
							grave problema ambiental e de saúde pública."</em>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="p-5 text-white"
		style="background-image: url('/imagens/fundo5.png'); background-size: 100% 100%; background-color: #242424;">
		<div class="container">
			<div class="row">
				<div class="container">
					<div class="col-7 text-center my-5 p-5">
						<h1>
							<em>O que fazer com o lixo orgânico? </em>
						</h1>
						<p>
							<em><h5>O lixo orgânico é proveniente de matéria viva,
									ou seja, possui origem biológica, por exemplo, restos de
									alimentos, folhas, caule, sementes, papéis usados, dejetos
									humanos, dentre outros. Eles são depositados em locais
									apropriados denominados aterros sanitários.</h5></em>
						</p>
						<p>
							<em><h5>O descarte dos alimentos é um dos mais
									versáteis e fáceis. Em alguns casos, as sobras de um almoço,
									por exemplo, podem ser reaproveitadas em outras preparações,
									como um arroz branco que vira um arroz à grega. Também é
									possível utilizar essas sobras e as cascas de legumes como
									adubo orgânico.</h5></em>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="p-2 bg-success text-white">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<p>
						<em><h5>Descartar o lixo corretamente contribui para uma vida
							melhor na sua casa, em seu bairro e em sua cidade. E mais, ajuda
							a preservar a natureza, o ar que respiramos, a descontaminação de
							rios e solos, além de gerar renda e alimentar inúmeras famílias
							que sobrevivem da venda do que é desprezado por milhares de
							pessoas.</h5></em>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="~{rodape :: rodape}"></div>
</body>
</html>