<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org./1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">
<meta charset="UTF-8">
</head>

<body>
	<div th:replace="~{menu :: menu}"></div>

	<div class="container">
		<div class="row">
			<div class="col-12 text-center my-5">
				<h2 class="display-6">Cadastrar Usuário</h2>
			</div>
		</div>

		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-md-7">
			
					<th:block th:include="mensagemValidacao"></th:block>
					
					<form action="/oel/usuario"  >

						<div class="row">
							<label class="col-md-auto col-form-label">Nome:</label>
							<div class="mb-3">
								<input type="text" name="nome" class="form-control"
									placeholder="Ex: Maria Laura da Silva">
									<p th:erros="*{nome}"></p>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-3 col-form-label">Data de
								Nascimento:</label>
							<div class="mb-3">
								<input type="text" name="dataNasc" class="form-control"
									placeholder="Ex: 24/07/2000">
									<p th:erros="*{dataNasc}"></p>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-2 col-form-label">Cidade:</label>
							<div class="mb-3">
								<input type="text" name="cidade" class="form-control"
									placeholder="Ex: Lajes-RN">
									<p th:erros="*{cidade}"></p>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-2 col-form-label">Email:</label>
							<div class="mb-3">
								<input type="text" name="email" class="form-control"
									placeholder="Ex: laura@gamail.com">
									<p th:erros="*{email}"></p>
							</div>
						</div>

						<div class="row">
							<label class="col-sm-2 col-form-label">Senha:</label>
							<div class="mb-3">
								<input type="password" name="senha" class="form-control"
									placeholder="Ex: laurinha@123">
									<p th:erros="*{senha}"></p>
							</div>
						</div>

						<div class="row justify-content-end my-3">
							<div class="col-auto">
								<div class="d-grid gap-2 d-md-block">
									<button class="btn btn-primary" type="submit">Cadastrar</button>
									<button class="btn btn-outline-danger" type="reset">Limpar</button>
								</div>
							</div>
						</div>

					</form>

				</div>
			</div>
		</div>
	</div>
</body>
</html>