<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">
<meta charset="UTF-8">
<title>Lista das lixeiras</title>
</head>

<body>
	<div th:replace="~{menu :: menu}"></div>

	<div class="container">
		<div class="row">
			<div class="col-12 text-center my-5">
				<h1 class="display-6">Lista das lixeiras</h1>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-9">

				<div class="row justify-content-end">
					<div>
						<a href="/oel/lixeira" class="btn btn-outline-success me-2"
						role="button" data-bs-toggle="button">ADD Lixeira</a>
					</div>
					<div class="col-auto">
						<input class="form-control mr-sm-2" type="search"
							placeholder="Pesquisar" aria-label="Pesquisar">
					</div>
					<div class="col-auto">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
					</div>
				</div>

				<div class="row row-cols-1 row-cols-md-4 g-4  my-2">
					<div class="col" th:each="l : ${lixeiras}">
						<div class="card h-100">
							<div class="card-header">
								<h5 class="card-title text-center" th:text="${l.tipo}">Tipo</h5>
							</div>
							<ul class="list-group list-group-flush">
								<!-- <li class="list-group-item" th:text="${l.id}" >id</li>  -->
								<li class="list-group-item" th:text="${l.latitude}">latitude</li>
								<li class="list-group-item" th:text="${l.logitude}">longitude</li>
								<li class="list-group-item" th:text="${l.complemento}">complemento</li>
							</ul>
							<div class="card-footer text-center">
								<a class="card-link  text-decoration-none"
									th:href="@{/oel/{id}(id=${l.id})}">Detalhar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>