<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Menu</title>
</head>
<body>


	<nav th:fragment="menu" class="navbar col-12 sticky-top"
		style="background-color: #242424;">
		<div class="container">
			<a class="navbar-brand" href="/"> <img
				th:src="@{/imagens/logo.png}" width="200" height="70" alt="">
			</a> <a class="navbar-brand text-secondary" href="/oel/conscientizacao">CONSCIENTIZE-SE</a>



			<div class="d-grid gap-2 d-md-block">
			
				<a href="/oel/listDenuncia" class="btn btn-outline-success me-2" role="button"  
					sec:authorize="hasRole('ADM')" data-bs-toggle="button">LIXEIRA COM DENÚNCIAS</a> 
			
				<a href="/oel/usuario" class="btn btn-outline-success me-2" role="button" 
					sec:authorize="!isAuthenticated()" data-bs-toggle="button">CADASTRE-SE</a> 
			
				<a href="/login" class="btn btn-success me-2" role="button"
					sec:authorize="!isAuthenticated()" data-bs-toggle="button">ENTRAR</a>

				<a href="/logout" th:href="@{/logout}"
					class="btn btn-outline-success me-2" role="button"
					sec:authorize="isAuthenticated()" data-bs-toggle="button">SAIR</a>

			</div>
		</div>
	</nav>
</body>
</html>