<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Menu</title>
</head>
<body>


	<nav th:fragment="menu"
		class="navbar col-12 sticky-top bg-white text-dark">
		<div class="container">
			<a class="navbar-brand" href="/"> <img
				th:src="@{/imagens/logo1.PNG}" width="230" height="65" alt="">
			</a>
			<div class="row justify-content-md-center">
				<div class="row">
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
						</ul>
					</div>
				</div>
			</div>

			<div class="d-grid gap-2 d-md-block">
			
				<a href="/oel/listDenuncia" class="btn btn-outline-success me-2" role="button"  
					sec:authorize="hasRole('ADM')" data-bs-toggle="button">Denuncias</a> 
			
				<a href="/oel/usuario" class="btn btn-outline-success me-2" role="button" 
					sec:authorize="!isAuthenticated()" data-bs-toggle="button">Cadastre-se</a> 
					
				<a href="/login" class="btn btn-success me-2" role="button"
					sec:authorize="!isAuthenticated()" data-bs-toggle="button">Entrar</a>
					
					
					
				<!-- <form action="/logout" method="post">
					<a href="#" th:href="@{/logout}"
						class="btn btn-outline-success me-2" role="button"
						data-bs-toggle="button">Sair</a>  
				</form> -->
			</div>
		</div>
	</nav>
</body>
</html>